.intro {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 148px;
  margin-top: 92px;
  margin-bottom: 92px;
  max-width: 53.9%;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
    max-width: 67.38%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 93.75%;
    margin: 88px auto;
  }
}

@media screen and (max-width: 420px) {
  .intro {
    max-width: 288px;
    margin: 64px auto;
  }
}
